
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">

    <div class="navigation">
    <a class="prev" (click)="left(selectedSlider)" >&#10094;</a>
    <a class="next" (click)="right(selectedSlider)" >&#10095;</a>
    </div>

    <img src="{{selectedSlider.img}}" style="width:100%" alt="fail" >

    <div class="text"></div>
  </div>
</div>
  <!--<div class="mySlides fade">-->
    <!--<div class="numbertext">2 / 3</div>-->
    <!--<img src="../../assets/image/slide2.jpg" style="width:100%" alt="fail">-->
    <!--<div class="text"></div>-->
  <!--</div>-->

  <!--<div class="mySlides fade">-->
    <!--<div class="numbertext">3 / 3</div>-->
    <!--<img src="../../assets/image/slide3.jpg" style="width:100%" alt="fail">-->
    <!--<div class="text"></div>-->
  <!--</div>-->
<!--</div>-->
<!-- Next and previous buttons -->


<br>



